<div class="panel panel-default">
    
    <div class="panel-body">
        <div class="row">
            <div class="col-md-2 col-lg-2 hidden-xs hidden-sm">
                <img class="img-circle" src="../assets/avatar.png" alt="User Pic">
            </div>
            
            
            <div class=" col-md-10 col-lg-10 hidden-xs hidden-sm">
                
                <table class="table table-user-information">
                    <tbody>
                    <tr>
                        <td>User level</td>
                        <td>Administrator</td>
                    </tr>
                
                    <tr>
                        <td>Username (Registration Number)</td>
                        <td>{{ username }}</td>
                    </tr>
                    
                    <tr>
                        <td>Email</td>
                        <td>{{ email }}</td>
                    </tr>
                </tbody>
                </table>
                <span class="pull-right">
                    <button class="btn btn-sm btn-warning" type="button" data-toggle="tooltip" data-original-title="Change Password">Change Password</button>
                    <button class="btn btn-sm btn-primary" type="button" data-toggle="tooltip" data-original-title="Edit profile"><i class="glyphicon glyphicon-edit"></i></button>
                    
                </span>
            </div>
        </div>
    </div>
    
</div>