<div class="jumbotron text-center">
    <img class="img-responsive" src=".../assets/img/logo.png" alt="UCSC_logo" class="img-rounded">
    <h2><strong>University of Colombo School of Computing</strong></h2>
    <p class="lead">Welcome to the Exam Registration System of UCSC students</p>
    <div>
      <a href="#" class="btn btn-primary">For Undergraduates</a>
      <a href="#" class="btn btn-default">For Postgraduates</a>
    </div>
  </div>
  
  <div class="row">
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img src="https://image.flaticon.com/icons/svg/417/417770.svg" alt="placeholder image" width="140" height="140">
        <div class="caption">
          <h3>Exam Registration</h3>
          <p>Undergraduates and Postgraduates can register to their exams through this system.</p>
        </div>
      </div>
    </div>
  
    <div class="col-sm-6 col-md-4">
      <div class=thumbnail> <img src="https://image.flaticon.com/icons/svg/868/868684.svg" alt="Generic placeholder image" width="140" height="140">
        <div class=caption>
          <h3>Repeat Form</h3>
          <p>Now students can submit their repeat subjects form online.</p>
        </div>
      </div>
    </div>
  
    <div class="col-sm-6 col-md-4">
      <div class=thumbnail> <img src="https://image.flaticon.com/icons/svg/417/417756.svg" alt="Generic placeholder image" width="140" height="140">
        <div class=caption>
          <h3>View Exams</h3>
          <p>Students can view their registered examinations through this system.</p>
        </div>
      </div>
    </div>
  
    <!-- FOOTER -->
    <footer>
        <div class="container">
          <p class="text-muted">© 2017, All rights reserved by University of Colombo School of Computing
              No: 35, Reid Avenue, Colombo 7, Sri Lanka.
              </p>
        </div>
      </footer>
  
  </div>
  