<div class="panel panel-default">
    <div class="panel-body">
        <!--Custom Success/Error Message -->
      <div class="row show-hide-message" *ngIf="message && newPost">
            <div [ngClass]="messageClass">
                {{ message }}
            </div>
          </div>
    
          <div *ngIf="username !== 'admin'">
            <button type="button" name="button" class="btn btn-primary" *ngIf="!newPost" (click)="newForm()"><span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;Repeat Form</button>                
        </div>
    
          <br/>
          
          
          <!-- New Repeat Form -->
          <form [formGroup]="form" name="repeatForm" (submit)="onSubmit()" *ngIf="newPost">
            <!-- Subject code Input -->
            <div class="form-group">
              <label for="subject_code">Subject Code</label>
              <div [ngClass]="{'has-success': form.controls.subject_code.valid, 'has-error': form.controls.subject_code.dirty && form.controls.subject_code.errors}">
                <!-- Subject Code Input -->
                <input type="text" name="subject_code" class="form-control" placeholder="*Subject Code" autocomplete="off" formControlName="subject_code" />
                <!-- Validation -->
                <ul class="help-block">
                  <li *ngIf="form.controls.subject_code.dirty && form.controls.subject_code.errors?.required">This field is required.</li>
                  <li *ngIf="(form.controls.subject_code.dirty && form.controls.subject_code.errors?.minlength) || (form.controls.subject_code.dirty && form.controls.subject_code.errors?.maxlength)">Max length: 50, Min length: 5</li>
                  <li *ngIf="form.controls.subject_code.dirty && form.controls.subject_code.errors?.alphaNumericValidation">Must be a letter or number</li>
                </ul>
              </div>
            </div>
    
            <!-- Subject Name Input -->
            <div class="form-group">
              <label for="subject_name">Subject Name</label>
              <div [ngClass]="{'has-success': form.controls.subject_name.valid, 'has-error': form.controls.subject_name.dirty && form.controls.subject_name.errors}">
                <!-- Subject name Input -->
                <input type="text" name="subject_name" class="form-control" placeholder="*Subject Name" autocomplete="off" formControlName="subject_name" />
                <!-- Validation -->
                <ul class="help-block">
                  <li *ngIf="form.controls.subject_name.dirty && form.controls.subject_name.errors?.required">This field is required.</li>
                  <li *ngIf="(form.controls.subject_name.dirty && form.controls.subject_name.errors?.minlength) || (form.controls.subject_name.dirty && form.controls.subject_name.errors?.maxlength)">Max length: 50, Min length: 5</li>
                </ul>
              </div>
            </div>
    
            <!-- Go Back Button -->
            <button [disabled]="processing" type="button" name="button" (click)="goBack()" class="btn btn-warning">Go Back</button>
            <!-- Submit Button -->
            <button [disabled]="processing || !form.valid" type="submit" name="button" class="btn btn-success">Submit</button>
    
          </form>
          <!-- New Repeat Form -->
    
    
          <!-- Panel Start -->
          <div *ngIf="!newPost">
            <div *ngFor="let repeat of repeats">
            <div class="panel panel-default" *ngIf="username === repeat.createdBy">
                
                    
                    <div class="panel-heading">
                      <h3 class="panel-title">{{ repeat.subject_code }}</h3>
                    </div>
                
                    
                    <div class="panel-body">
                      {{ repeat.subject_name }}
                    </div>
    
                    
                    <div class="panel-footer">
                      <strong>Posted by: </strong>{{ repeat.createdBy }}
                      <br />
                      <strong>Date: </strong>{{ repeat.createdAt | date:'MMM dd, yyyy' }}
                      <br />
                    
                
    
                      
                      <a [routerLink]="['/edit-repeat/', repeat._id]" *ngIf="username === repeat.createdBy"><button type="button" name="button" class="btn btn-sm btn-info"><span class="glyphicon glyphicon-edit">&nbsp;</span>Edit</button></a>
                     
                      <a [routerLink]="['/delete-repeat/', repeat._id]" *ngIf="username === repeat.createdBy"><button type="button" name="button" class="btn btn-sm btn-danger"><span class="glyphicon glyphicon-remove">&nbsp;</span>Delete</button></a>
    
                    </div>
                    
                    
    
            </div>
            </div>
          </div>
    
    </div>
</div>

<div class="text-center" *ngIf="username === 'admin'">
    <a *ngIf="authService.loggedIn()" routerLink="/repeaters" class="btn btn-primary">Repeaters</a>   
</div>

<br/>