<div class="panel panel-default">
    <div class="panel-body">
                    semeter and year
                    <table id="myTable" class=" table order-list">
                    <thead>
                        <tr>
                            <td>Subject Code</td>
                            <td>Subject Name</td>
                            <td>Grade in 1st Attempt</td>
                            <td>Grade in 2nd Attempt</td>
                            <td>Grade in 3rd Attempt</td>
                            <td>Action</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="col-sm-2">
                                <input type="text" name="code" class="form-control" />
                            </td>
                            <td class="col-sm-7">
                                <input type="text" name="name"  class="form-control"/>
                            </td>
                            <td class="col-sm-1">
                                <input type="text" name="attempt1"  class="form-control"/>
                            </td>
                            <td class="col-sm-1">
                                <input type="text" name="attempt1"  class="form-control"/>
                            </td>
                            <td class="col-sm-1">
                                <input type="text" name="attempt1"  class="form-control"/>
                            </td>
                            <td class="col-sm-2"><a class="deleteRow"></a>
                
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="5" style="text-align: left;">
                                <input type="button" class="btn btn-lg btn-block " id="addrow" value="Add Row" />
                            </td>
                        </tr>
                        <tr>
                        </tr>
                    </tfoot>
                </table>
                <p>Candidates repeating the examination shall pay the exam fee at any Branch of the People's Bank to the credit of the UCSC Account No. 086-1-001-2-1190316, take a clear picture of it and upload the receipt.</p>
                <div class="form-group">
                    <label for="exampleInputFile">File input</label>
                    <input type="file" id="exampleInputFile">
                    <p class="help-block">Upload the image of the receipt here.</p>
                </div>
    </div>
</div>