<div class="panel panel-default">
    
    <div class="panel-body">
        <div class="row">
            <div class="col-md-2 col-lg-2 ">
                <img class="img-circle" src="../assets/avatar.png" alt="User Pic">
            </div>
        </div>
            
        <div class="row">    
            <div class=" col-md-12 col-lg-12">
                
                <table class="table table-user-information">
                    <tbody>
                    <tr>
                        <td>User level</td>
                        <td>Undergraduate Student</td>
                    </tr>
                    <!--<tr>
                        <td>Name of the Degree program</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Year</td>
                        <td></td>
                    </tr>-->
                    <tr>
                        <td>Username (Registration Number)</td>
                        <td>{{ username }}</td>
                    </tr>
                    <!--<tr>
                        <td>Index Number</td>
                        <td></td>
                        </tr>
                    
                    <tr>
                        <td>Gender</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Name with Initials</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Full Name</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Contact Number</td>
                        <td></td>
                    </tr>-->
                    <tr>
                        <td>Email</td>
                        <td>{{ email }}</td>
                    </tr>
                </tbody>
                </table>
                <span class="pull-right">
                    <button class="btn btn-sm btn-warning" type="button" data-toggle="tooltip" data-original-title="Change Password">Change Password</button>                    
                    <button class="btn btn-sm btn-primary" type="button" data-toggle="tooltip" data-original-title="Edit profile"><i class="glyphicon glyphicon-edit"></i></button>

                </span>
            </div>
        </div>
    </div>
    
</div>