
    <button type="button" name="button" (click)="downloadPDF()" class="btn btn-primary">Export as PDF</button>                    
    <br/>
    <br/>
    
    <div class="panel panel-default" id="content" #content>
        <div class="panel-body">
  
      <!-- Panel Start -->
    <div>
            <!-- Panel Outer Layer -->
            <div class="panel panel-default" *ngFor="let user of users">
                
                
                    <!-- Panel Body -->
                    <div class="panel-body">
                        Username: {{ user.username }}
                        <br/>
                        Email: {{ user.email }}
                    </div>
          
                    
    </div>
    <!-- Panel End -->
    </div>
    </div>
    
    