<div class="jumbotron">
  <div class="row">
    <div class="col-md-10 col-sm-offset-1">
        <div class="media">
          <div class="media-left media-top">
            <a href="#">
              <img class="media-object" src="../assets/UCSC_logo.png" alt="UCSC_logo">
            </a>
          </div>
          <div class="media-body">
            <h2 class="media-heading"><strong>University of Colombo School of Computing</strong></h2>
            <p class="lead">Welcome to the Exam Registration System for UCSC students</p>
          </div>
        </div>
    </div>
  </div> 
</div>

<div class="container">
    <div class="row">
        <div class="col-md-3"> 
            <div class="panel panel-default">
                <div class="panel-body">
                    <ul class="nav nav-pills nav-stacked">
                        <li class="active"><a data-toggle="pill" href="#updates">Updates</a></li> 
                        <li ><a data-toggle="pill" href="#profile">Profile</a></li>                                            
                        <li><a data-toggle="pill" href="#exams">All Exams</a></li>
                        <li><a data-toggle="pill" href="#rep_exams">Repeat Forms Responses</a></li>
                        <li><a data-toggle="pill" href="#users">Users</a></li>
                    </ul>
                </div>
            </div>
        </div>
            
        <div class="col-md-9">
            <div class="tab-content">
                <div id="updates" class="tab-pane fade in active">
                    <app-updates></app-updates>
                </div>
                <div id="profile" class="tab-pane fade">
                    <app-profile></app-profile>
                </div>
                        
                <div id="exams" class="tab-pane fade">
                  <app-exams></app-exams>
                </div>
                <div id="rep_exams" class="tab-pane fade">
                  <app-repeaters></app-repeaters>
                </div>
                <div id="users" class="tab-pane fade">
                  <app-users></app-users>
                </div>
                    
            </div>
        </div>
    </div>
</div>

<script>
        $(document).ready(function () {
        var counter = 0;
    
        $("#addrow").on("click", function () {
            var newRow = $("<tr>");
            var cols = "";
    
            cols += '<td><input type="text" class="form-control" name="name' + counter + '"/></td>';
            cols += '<td><input type="text" class="form-control" name="mail' + counter + '"/></td>';
            cols += '<td><input type="text" class="form-control" name="phone' + counter + '"/></td>';
    
            cols += '<td><input type="button" class="ibtnDel btn btn-md btn-danger "  value="Delete"></td>';
            newRow.append(cols);
            $("table.order-list").append(newRow);
            counter++;
        });
    
    
    
        $("table.order-list").on("click", ".ibtnDel", function (event) {
            $(this).closest("tr").remove();       
            counter -= 1
        });
    
    
    });
    
    
    
    function calculateRow(row) {
        var price = +row.find('input[name^="price"]').val();
    
    }
    
    function calculateGrandTotal() {
        var grandTotal = 0;
        $("table.order-list").find('input[name^="price"]').each(function () {
            grandTotal += +$(this).val();
        });
        $("#grandtotal").text(grandTotal.toFixed(2));
    }
    </script>