<div class="panel panel-default">
  <div class="panel-body">

      <!-- Custom Success/Error Message 
      <div class="row show-hide-message" *ngIf="message && newPost">
        <div [ngClass]="messageClass">
            {{ message }}
        </div>
      </div>-->

      <button type="button" name="button" class="btn btn-primary" *ngIf="!newExam" (click)="newExamForm()"><span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;New Post</button>        
      <button [disabled]="loadingExams" type="button" name="button" class="btn btn-default" *ngIf="!newPost" (click)="reloadExams()"><span class="glyphicon glyphicon-repeat"></span>&nbsp;&nbsp;Reload</button>        
      
      <br/>
      <br/>

      <!-- Panel Start -->
      <div *ngIf="!newPost">
        <!-- Panel Outer Layer -->
        <div class="panel panel-default">
            
                <!-- Panel Title -->
                <div class="panel-heading">
                  <h3 class="panel-title">Exam Code</h3>
                </div>
            
                <!-- Panel Body -->
                <div class="panel-body">
                  Exam Name
                </div>

                <!-- Panel Footer Start -->
                <div class="panel-footer">
                  <strong>Posted by: </strong>Admin
                  <br />
                  <strong>Date: </strong>2018-09-09
                  <br />
                  <div>
                    <strong>Registrations: </strong>21
                  </div>
                  <br/>

                  <!-- Edit Button -->
                  <a herf = "#"><button type="button" name="button" class="btn btn-sm btn-info"><span class="glyphicon glyphicon-edit">&nbsp;</span>Edit</button></a>
                  <!-- Delete Button -->
                  <a herf = "#"><button type="button" name="button" class="btn btn-sm btn-danger"><span class="glyphicon glyphicon-remove">&nbsp;</span>Delete</button></a>

                  <!-- Registrations Dropdown  -->
                  <div class="dropdown">
                    <!-- Registration Button -->
                    <button type="button" name="button" class="btn btn-sm btn-success"><span class="glyphicon glyphicon-flag">&nbsp;</span>Registrations: 21</button>
                    <!-- Dropdown Menu Items -->
                    <div class="dropdown-content">
                      <a href="#">gugui3z24</a>
                      <a href="#">jinder</a>
                      <a href="#">patel</a>
                    </div>
                  </div>

                </div>
                <!-- Panel Footer End -->

                

        </div>
        <!-- Panel Outer Layer -->
      </div>
<!-- Panel End -->

  </div>
</div>