<div class="panel panel-default">
  <div class="panel-body">

      <!--Custom Success/Error Message -->
      <div class="row show-hide-message" *ngIf="message && newPost">
        <div [ngClass]="messageClass">
            {{ message }}
        </div>
      </div>

      <div *ngIf="username === 'admin'">
        <button type="button" name="button" class="btn btn-primary" *ngIf="!newPost" (click)="newExamForm()"><span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;New Post</button>                
      </div>

      <br/>
      <button [disabled]="loadingExams" type="button" name="button" class="btn btn-default" *ngIf="!newPost" (click)="reloadExams()"><span class="glyphicon glyphicon-repeat"></span>&nbsp;&nbsp;Reload</button>        
      
      <br/>
      <br/>
      
      <!-- New Exam Form -->
      <form [formGroup]="form" name="examForm" (submit)="onSubmit()" *ngIf="newPost">
        <!-- Subject code Input -->
        <div class="form-group">
          <label for="subject_code">Subject Code</label>
          <div [ngClass]="{'has-success': form.controls.subject_code.valid, 'has-error': form.controls.subject_code.dirty && form.controls.subject_code.errors}">
            <!-- Subject Code Input -->
            <input type="text" name="subject_code" class="form-control" placeholder="*Subject Code" autocomplete="off" formControlName="subject_code" />
            <!-- Validation -->
            <ul class="help-block">
              <li *ngIf="form.controls.subject_code.dirty && form.controls.subject_code.errors?.required">This field is required.</li>
              <li *ngIf="(form.controls.subject_code.dirty && form.controls.subject_code.errors?.minlength) || (form.controls.subject_code.dirty && form.controls.subject_code.errors?.maxlength)">Max length: 50, Min length: 5</li>
              <li *ngIf="form.controls.subject_code.dirty && form.controls.subject_code.errors?.alphaNumericValidation">Must be a letter or number</li>
            </ul>
          </div>
        </div>

        <!-- Subject Name Input -->
        <div class="form-group">
          <label for="subject_name">Subject Name</label>
          <div [ngClass]="{'has-success': form.controls.subject_name.valid, 'has-error': form.controls.subject_name.dirty && form.controls.subject_name.errors}">
            <!-- Subject name Input -->
            <input type="text" name="subject_name" class="form-control" placeholder="*Subject Name" autocomplete="off" formControlName="subject_name" />
            <!-- Validation -->
            <ul class="help-block">
              <li *ngIf="form.controls.subject_name.dirty && form.controls.subject_name.errors?.required">This field is required.</li>
              <li *ngIf="(form.controls.subject_name.dirty && form.controls.subject_name.errors?.minlength) || (form.controls.subject_name.dirty && form.controls.subject_name.errors?.maxlength)">Max length: 500, Min length: 5</li>
            </ul>
          </div>
        </div>

        <!-- Go Back Button -->
        <button [disabled]="processing" type="button" name="button" (click)="goBack()" class="btn btn-warning">Go Back</button>
        <!-- Submit Button -->
        <button [disabled]="processing || !form.valid" type="submit" name="button" class="btn btn-success">Submit</button>

      </form>
      <!-- New Exam Form -->


      <!-- Panel Start -->
      <div *ngIf="!newPost">
        <!-- Panel Outer Layer -->
        <div class="panel panel-default" *ngFor="let exam of exams">
            
                <!-- Panel Title -->
                <div class="panel-heading">
                  <h3 class="panel-title">{{ exam.subject_code }}</h3>
                </div>
            
                <!-- Panel Body -->
                <div class="panel-body">
                  {{ exam.subject_name }}
                </div>

                <!-- Panel Footer Start -->
                <div class="panel-footer">
                  <strong>Posted by: </strong>{{ exam.createdBy }}
                  <br />
                  <strong>Date: </strong>{{ exam.createdAt | date:'MMM dd, yyyy' }}
                  <br />
                  <div *ngIf="username === exam.createdBy">
                    <strong>Registrations: </strong>{{ exam.registrations }}
                  </div>
                  <br/>

                  <!-- Edit Button -->
                  <a [routerLink]="['/edit-exam/', exam._id]" *ngIf="username === exam.createdBy"><button type="button" name="button" class="btn btn-sm btn-info"><span class="glyphicon glyphicon-edit">&nbsp;</span>Edit</button></a>
                  <!-- Delete Button -->
                  <a [routerLink]="['/delete-exam/', exam._id]" *ngIf="username === exam.createdBy"><button type="button" name="button" class="btn btn-sm btn-danger"><span class="glyphicon glyphicon-remove">&nbsp;</span>Delete</button></a>

                  <!-- Registrations Dropdown  -->
                  <div class="dropdown">
                    <!-- Registration Button -->
                    <button [disabled]="exam.registeredBy.indexOf(username) > -1" type="button" name="button" class="btn btn-sm btn-success" (click)="registerExam(exam._id)"><span class="glyphicon glyphicon-flag">&nbsp;</span>Registrations: {{ exam.registrations }}</button>
                    <!-- Dropdown Menu Items -->
                    <div class="dropdown-content">
                        <a herf="#" *ngFor="let student of exam.registeredBy">{{ student }}</a>
                    </div>
                  </div>

                </div>
                <!-- Panel Footer End -->

                

        </div>
        <!-- Panel Outer Layer -->
      </div>
<!-- Panel End -->

  </div>
</div>