
        <button type="button" name="button" (click)="downloadPDF()" class="btn btn-primary">Export as PDF</button>                    
        <br/>
        <br/>
    
    <div class="panel panel-default" id="content" #content>
        <div class="panel-body">
  
      <!-- Panel Start -->
    <div>
            <!-- Panel Outer Layer -->
            <div class="panel panel-default" *ngFor="let repeat of repeats">
                
                
                    <!-- Panel Body -->
                    <div class="panel-body">
                        Student: {{ repeat.createdBy }}
                        <br/>
                        Date: {{ repeat.createdAt | date:'MMM dd, yyyy' }}
                        <br/>
                        Subject Code: {{ repeat.subject_code }}
                        <br/>
                        Subject Name: {{ repeat.subject_name }}
                    </div>
          
              
              
    </div>
    <!-- Panel End -->
    </div>
    </div>
    